*{
    font-size: 12px;
}


img{
    border-radius: 50%;
}


.contact{
    font-family:"Muli" ;
    display: flex;
    flex-direction: column;
    width: 100%;

}

.box-1{
    width: 50%;
    margin: 0% 5%;
}

.box-2{
    width: 50%;
    margin: 0% 5%;
}
em{
    font-size: 1rem;
}

ul {
    list-style-type: none;
}
/*ICONS*/

.facebook{
    font-family:"Muli" ;
    font-size: 100%;
    text-decoration: none;
    background-color: none;
    color: white;
    outline: none;
}

.facebook:hover
{
    background-color: #0755ff;
    border-radius: 50%;
}

.instagram:hover {
    background-color: #ee1c00;
    border-radius: 50%;

}

.snapchat:hover {
    background-color: #fbff00;
    border-radius: 50%;

}

.whatsupp:hover {
    background-color: #00a329;
    border-radius: 50%;

}

.mail:hover{
    background-color: rgb(4, 151, 156);
    border-radius: 50%;

}

@media only screen and (min-width: 600px)
{
    *{
        font-size: 16px;
    }

    .contact{
        display: flex;
        flex-direction: row;
    }
}

