*{
    box-sizing: border-box;
    font-size: 10px;
}

body{
    position: relative;
    margin: 0;
    background-color: #f1f1f1;
    padding-left: 10%;
    padding-right: 10%;
}

.container {
    display: flex;
    flex-direction: column;
}
h1{
    font-family:"Muli" ;
    font-size: 3em;
    font-weight: bold ;
    text-align: center;
}
h2{
    font-family: "Muli";
    font-size: 2em;
    text-align: center;
}
p{
    
    font-family: "Muli";
    font-size: 1.2em;
    text-align: center;
    font-weight: bold;
    color: black;
}
h3{
    font-family:"Muli" ;
    font-size: 1.4em;
    font-weight: bold;
}
.input-box{
    text-align: center;
}
.input-box form input{
    margin-top: 2%;
}

 /* SECTION 6 */

.section-6{
    font-family: "Muli";
    margin-top: 10%;
    margin-bottom: 10%;
    text-align: center;
}

.section-6 p{
    color: rgb(173, 169, 169);

} 
.button{
    font-family:"Muli" ;
    display: inline-block;
    padding: 0.6em 2em ;
    font-size: 100%;
    text-decoration: none;
    border-radius: 200px;
    background-color: #d34242;
    border: 1px solid #ff0000;
    color: white;
    margin-right: 15px;
    outline: none;
}

.button:hover,
.buttonn:active
{
    background-color: red;

}
.email{
    font-family:"Muli" ;
    display: inline-block;
    padding: 0.6em 2em;
    font-size: 100%;
    text-decoration: none;
    border-radius: 200px;
    background-color: white;
    border: 1px solid rgb(124, 119, 119);
    color: gray;
    margin-right: 15px;
    outline: none;
}
 
    /*try free button css*/
    .free{
        font-family:"Muli" ;
        display: inline-block;
        padding: 0.6em 2em;
        font-size: 100%;
        text-decoration: none;
        border-radius: 200px;
        background-color: transparent;
        border: 1px solid white;
        color: white;
        outline: none;
    }
    
    .free:hover,
    .free:active
    {
        background-color: red;

    }
    /*seconde section*/
    .section-2{
        font-family:"Muli" ;
        margin: 10% 0;
    }
    .benefits{
        font-family:"Muli" ;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding:0% 5%;
    }

    .section-2 p {
        color: rgb(173, 169, 169);
    }
    /*section 5*/    
    .review{
        flex-direction: row;
        margin: 0% 5%;
    }


    .pic{
        border-radius: 50%;
    }

    .box-1{
        font-family:"Muli" ;
        padding-bottom: 0.8em;
        background-image: linear-gradient(red,red);
        background-size: 50% 0.6em;
        background-position: bottom left;
        background-repeat: no-repeat;
        background-color: white;
        width: 31%;
        margin: 0% 2%;
    }

    .box-2{
        font-family:"Muli" ;
        padding-bottom: 10px;
        background-image: linear-gradient(red,red);
        background-size: 50% 0.6em;
        background-position: bottom left;
        background-repeat: no-repeat;
        background-color: white;
        width: 31%;
        margin: 0% 2%;
    }

    .box-3{
        font-family:"Muli" ;
        border-bottom: 0.6em solid red;
        background-color: white;
        width: 31%;
        margin: 0% 2%;
    }



    .position-pic{
        display: flex;
        width: 100%;
    }
    
    .box-1{
        font-family:"Muli" ;
        padding-bottom: 0.8em;
        background-image: linear-gradient(red,red);
        background-size: 50% 0.6em;
        background-position: bottom left;
        background-repeat: no-repeat;
        background-color: white;
        width: 50%;
        margin: 4% 25%;
        box-shadow: 0 10px 20px 10px rgba(0, 0, 0, 0.2), 0 6px 20px 15px rgba(0, 0, 0, 0.19);
    }

    .box-2{
        font-family:"Muli" ;
        padding-bottom: 10px;
        background-image: linear-gradient(red,red);
        background-size: 50% 0.6em;
        background-position: bottom left;
        background-repeat: no-repeat;
        background-color: white;
        width: 50%;
        margin: 4% 25%;
        box-shadow: 0 10px 20px 10px rgba(0, 0, 0, 0.2), 0 6px 20px 15px rgba(0, 0, 0, 0.19);
    }

    .box-3{
        font-family:"Muli" ;
        border-bottom: 0.6em solid red;
        background-color: white;
        width: 50%;
        margin: 4% 25%;
        box-shadow: 0 10px 20px 10px rgba(0, 0, 0, 0.2), 0 6px 20px 15px rgba(0, 0, 0, 0.19);
    }

    .pic3{
        width: 40%;
        margin: 3% 2%;
    }

    .text{
        font-family:"Muli" ;
        width: 60%;
        margin: 10% 5%;
    }
    /*section1*/
    .section-1{
        margin: 6em 0 10% 0;
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: auto ;
        grid-template-areas: "task" 
        "logo";
    }
    .task{
        grid-area: task;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        padding-top: 15%;
        height: auto;
    }
    .task h1,.task p{
        padding:2% ;
        margin: 0;
    }
    .task .input-box{
        padding-top: 7%;
        display: inline-block;
        

    }
    .logo{
        width: 100%;
        height: auto;
        margin-top: 20%;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
        
        
    }
    .logo img{
        margin:0;
        width: 45%;
        padding: 3%;
        align-self: center;
        justify-self: start;
        justify-content: space-between;
        
    }
    .logo img:last-child {
        position: relative;
        width: 70%;
        left: 50%;
        transform: translateX(-50%);
    }
    
    #CN{
        width: 30%;
    }
    .box{
        display: none;
    }
    /*shadow and some other settings, these aplies later when its shown,currently on display none*/
    .boxes{

        box-shadow: 0 10px 20px 10px rgba(0, 0, 0, 0.2), 0 6px 20px 15px rgba(0, 0, 0, 0.19);
        max-width: 100%;
        height: auto;
        border-radius: 2%;
        position: absolute;
        margin:5% 0;
    }
    /*edited positions of 4 graphics,those also show later on responsive*/
    .profile{
        z-index: -11;
        margin-top: 2%;
        left: 30%;
        max-width: 60%;
    
    }
    .chart{
        max-width: 100%;
        z-index: -12;
        margin-top: 35%;
        transform: rotate(8deg);
    }
    .topEarners{
        z-index: -13;
        max-width: 60%;
        margin-top: 55%;
        right: -20%;
    
    }
    .rank{
        z-index: -14;
        max-width: 60%;
        transform: rotate(-10deg);
        margin-top: 60%;
        left: 20%;
    }
    /*paragraph color for text-content and task classes*/
    .Text-content p,.task p{
        color: rgb(173, 169, 169);
    }
    .Text-content p{
        font-size: 1em;
    }
    .section-3{
        display: flex;
        width: 100%;
        flex-direction: column;
        margin-top: 15%;
        margin-bottom: 15%;
        
    }
    .section-3 .graphs{
        position: relative;
        order: 2;
    }
    .section-3 .graphs .first{
        position: relative;
        max-width: 60%;
    }
    .section-3 .graphs .second{
       position: relative;
        max-width: 60%;
    }
    .section-3 .Text-content{
        order: 1;
        width: 100%;
    }
    .section-3 .Text-content a,#Arrow{
        max-width: 80%;
    }
    /*section 4 img sizes and basic*/
    .section-4 img{
        max-width: 60%;
    }
@media only screen and (min-width: 1024px) { */
    /* For tablets: */
    
    /*Section 5 */
    .review {
        flex-direction: column;
        margin: 0% 10%;
    }
    
    .box-1 , .box-2 , .box-3 {
        margin: 2% 0%;
        width: 40%;
    }
    h2{
        text-align: center;
    }
}
     
@media only screen and (min-width:769px){
    *{
        font-size: 16px;
    }
    h1,p{
        text-align: left;
    }
    /*section2 benefits*/
    .benefits{
        display: flex;
        flex-direction: row;
    }
    /*section 5*/
    .review{
        display: flex;
        flex-direction: row;

    }

    .pic{
        border-radius: 50%;
    }


    .box-1{
        font-family:"Muli" ;
        padding-bottom: 0.8em;
        background-image: linear-gradient(red,red);
        background-size: 50% 0.6em;
        background-position: bottom left;
        background-repeat: no-repeat;
        background-color: white;
        width: 31%;
        margin: 0% 2%;
        box-shadow: 0 10px 20px 10px rgba(0, 0, 0, 0.2), 0 6px 20px 15px rgba(0, 0, 0, 0.19);
    }

    .box-2{
        font-family:"Muli" ;
        padding-bottom: 10px;
        background-image: linear-gradient(red,red);
        background-size: 50% 0.6em;
        background-position: bottom left;
        background-repeat: no-repeat;
        background-color: white;
        width: 31%;
        margin: 0% 2%;
        box-shadow: 0 10px 20px 10px rgba(0, 0, 0, 0.2), 0 6px 20px 15px rgba(0, 0, 0, 0.19);
    }

    .box-3{
        font-family:"Muli" ;
        border-bottom: 0.6em solid red;
        background-color: white;
        width: 31%;
        margin: 0% 2%;
        box-shadow: 0 10px 20px 10px rgba(0, 0, 0, 0.2), 0 6px 20px 15px rgba(0, 0, 0, 0.19);
    }

    /*section-1 and task*/
    .section-1{
        
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: "task boxes" 
        "logo boxes";
    }
    
    .logo img{
        width: 30%;  
    }
    .logo img:last-child{
        position: relative;
        width: 30%;
        left: 0;
        transform: translateX(0);        
    }
    #CN{
        width: 20%;
    }

    
    /*kutijicee*/
    .box{
            display: block;
            position: relative;  
            grid-area: boxes;
            max-width: 100%;
            
    }
    /*shadow for graphics, top right*/
    
    
    /*section-3*/
    .section-3{
        flex-direction: row;
    }
    
    .section-3 .graphs{
        order: 1;
        flex-basis: 50%;
        flex-grow: 1;
        flex-shrink: 1;
        position: relative;
    }
    

    .section-3 .graphs .first{
        position: absolute;
        top: 0;
        left: 0;
        z-index: -5;
        max-width: 60%;
        border-radius: 2%;
        box-shadow: 0 10px 20px 10px rgba(0, 0, 0, 0.2), 0 6px 20px 15px rgba(0, 0, 0, 0.19);
    }
    .section-3 .graphs .second{
        position: absolute;
        top: 40%;
        left: 30%;
        z-index: -4;
        max-width:40%;
        border-radius: 2%;
        box-shadow: 0 10px 20px 10px rgba(0, 0, 0, 0.2), 0 6px 20px 15px rgba(0, 0, 0, 0.19);
        
    }
    .Text-content{
        flex-basis: 50%;
        flex-grow: 1;
        flex-shrink: 1;
        align-self: center;
    }
    .Text-content h2,.Text-content p{
        text-align: left;
        padding:0;
        margin: 2% 0;
    }
    .section-3 img {
        max-width: 80%;
        margin-top: 2%;
    }

    .section-3 .Text-content{
        order: 2;
    }
    /*section 4*/
    .section-4{
        display: flex;
        flex-direction: row;
        margin-top: 15%;
        margin-bottom: 15%;
    }
    .section-4 .Text-content{
        position: relative;
        flex-basis: 50%;
        flex-grow: 1;
        flex-shrink: 1;
        justify-self: flex-end;
    }
    .section-4 .graphs{
        flex-basis: 50%;
        flex-grow: 1;
        flex-shrink: 1;
        width: 100%;
        position: relative;
    
    }
    .section-4 .graphs .first{
        position: absolute;
        top: 10%;
        right: 33%;
        z-index: -4;
        max-width:70%;
        border-radius: 2%;
        box-shadow: 0 10px 20px 10px rgba(0, 0, 0, 0.2);
    }
    .section-4 .graphs .second{
        position: absolute;
        margin-top: -25%;
        right: 0;
        z-index: -3;
        max-width:70%;
        border-radius: 2%;
        box-shadow: 0 10px 20px 10px rgba(0, 0, 0, 0.2);
    }
    .section-6 p {
        text-align: center;
    }

    
}