body{
    background-color: white;
}
h2{
    text-align: center;
}
.section-6{
    text-align: center;
}

.button{
    display: inline-block;
    padding: 10px 30px;
    font-size: 100%;
    text-decoration: none;
    border-radius: 200px;
    background-color: #d34242;
    border: 1px solid #ff0000;
    color: white;
    margin-right: 15px;
}


.button:hover,
.buttonn:active
{
    background-color: red;
}

.email{
    display: inline-block;
    padding: 10px 30px;
    font-size: 100%;
    text-decoration: none;
    border-radius: 200px;
    background-color: white;
    border: 1px solid rgb(124, 119, 119);
    color: gray;
    margin-right: 15px;
}

/* SECTION 5 */

.review{
   
}

.box-1{
 

}

.box-2{

}
.box-3{

}

