*{
    box-sizing: border-box;
}
body{
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
}
h2{
    text-align: center;
}
.section-6{
    text-align: center;
}

.button{
    display: inline-block;
    padding: 10px 30px;
    font-size: 100%;
    text-decoration: none;
    border-radius: 200px;
    background-color: #d34242;
    border: 1px solid #ff0000;
    color: white;
    margin-right: 15px;
}


.button:hover,
.buttonn:active
{
    background-color: red;

}

.email{
    display: inline-block;
    padding: 10px 30px;
    font-size: 100%;
    text-decoration: none;
    border-radius: 200px;
    background-color: white;
    border: 1px solid rgb(124, 119, 119);
    color: gray;
    margin-right: 15px;

}

/* SECTION 5 */

.review{
    display: flex;
    border: 1px solid black;
}


.pic{
    border-radius: 50%;
    vertical-align: middle;
}

.box1{
    border: 1px solid rgb(0, 0, 0);
}


/*section-1 and task*/
.section-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "task boxes" 
                         "logo boxes";  
   border: 10px solid green;
   
}
.task{
    grid-area: task;
    border: 1px solid black; 
    display: flex;
    flex-direction: column;
  

}
.task h1,p{
    padding:0 0 3% 0  ;
    margin: 0;
}
.task .input-box{
    display: inline-block;
    padding: 7% 0;

}
.logo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    background-color: red;
}
.logo img{
    padding: 5% 0 5% 3% ;
    width: 30%;
    align-self: center;
    justify-self: start;
    justify-content: space-between;
    
}
#CN{
    width: 15%;
}
/*kutijicee*/
.box{
  grid-area: boxes;
  background-color: greenyellow;
  
}
.boxes{
    background-color: white;
    
}
.people{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.top-area{
    width: 100%;
    height:20%;
    background-color: tan;
}
.box ol{
    
    width: 100%;
    height: 80%;
    margin: 0;
    vertical-align: middle;
    padding:5% 0;
    text-align: center;
    
}
.box ol li{
   
    margin: 5% 10%;
}

.box hr{
    margin:5% 5% ;
}
.circle{
    padding: 5%;
    border-radius: 50%;
    background-color: red;
    width: 15%;
    padding: 15% 0 0 0;    
}


